include:
  - component: gitlab.pinksalad.local/root/ci-components/bun-audit@main
    inputs:
      fail_on_vulnerabilities: "true"
  - component: gitlab.pinksalad.local/root/ci-components/bun-build@main

stages:
  - test
  - build
