---
import Desktop from '../components/Desktop.astro';
import '../styles/global.css';
---

<html lang="en" class="overflow-hidden h-full">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Gestalt</title>
	</head>
	<body class="antialiased overflow-hidden h-full">
		<Desktop />
	</body>
</html>
